* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}
section {
  width: 100%;
  min-height: 100vh;
}
.section1 {
  display: flex;
  flex-direction: column;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 40px;
}
.part2 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
}
nav h1 {
  font-size: 20px;
  /* display: flex;
  align-items: center;
  gap: 20px; */
}
nav h1 i {
  rotate: 45deg;
  display: inline-block;
  font-size: 25px;
}
nav h4 {
  font-size: 16px;
  font-weight: 600;
}
nav button {
  font-weight: 600;
  padding: 12px 20px;
  font-size: 15px;
  background-color: transparent;
  border-radius: 10px;
  border: 1px solid #000;
}
.center {
  padding: 35px 50px;
  flex-grow: 1;
  width: 100%;
  display: flex;
  align-items: center;
}
.center_part1 {
  width: 44%;
}
.center_part1 h1 {
  font-size: 70px;
  line-height: 1.2;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.center_part1 p {
  font-size: 15px;
  width: 90%;
  margin-top: 40px;
  margin-bottom: 35px;
}
.center_part1 button {
  background-color: black;
  color: #fff;
  border-radius: 10px;
  padding: 25px 20px;
  font-size: 15px;
  border: none;
  font-weight: 300;
}
.center_part2 {
  width: 56%;
  position: relative;
}
.center_part2 img {
  position: absolute;
  right: 190px;
  top: -200px;
  /* transform: translateY(-50%); */
}
.sectino1bottom {
  display: flex;
  align-items: center;
  height: 50px;
  justify-content: space-around;
  padding: 25px 60px;
  gap: 10px;
}
.sectino1bottom img {
  height: 30px;
}

#zoom {
  height: 70px;
  width: 70px;
}
#net {
  height: 60px;
  width: 90px;
}
/* section 2 */

.section2 .services {
  display: flex;
  align-items: center;
  padding: 20px 60px;
  justify-content: flex-start;
  gap: 10px;
  margin-top: 15px;
}
.services h3 {
  background-color: #9ae975;
  font-weight: 500;
  padding: 5px 10px 3px 10px;
  border-radius: 5px;
  font-size: 20px;
}
.services p {
  width: 40%;
  font-size: 15px;
  font-weight: 500;
}
.container {
  padding: 20px 60px;
  display: flex;
  justify-content: space-between;
  gap: 50px;
  flex-wrap: wrap;
}
.elem {
  display: flex;
  flex-shrink: 0;
  height: 300px;
  width: 40%;
  border: 2px solid black;
  border-radius: 30px;
  box-shadow: 0px 15px 0px black;
  padding: 25px;
}
.elem_part1 {
  display: flex;
  width: 50%;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: column;
}
.elem_part2 {
  height: 100%;
  width: 50%;
}
.elem_part2 img {
  height: 50%;
  width: 100%;
  object-fit: cover;
}
.elem_part1 h2 {
  font-size: 25px;
  padding: 0px 5px;
  border-radius: 10px;
  width: 70%;
  background-color: #9ae975;
  font-weight: 500;
}
.elem_part1 h4 {
  display: flex;
  align-items: center;
  font-size: 20px;
  font-weight: 200;
  gap: 10px;
}
.elem_part1 h4 i {
  padding: 10px;
  background-color: black;
  color: #fff;
  border-radius: 50%;
}
.black {
  background-color: black;
  color: white;
}
